<div class="tech-btm">
    <h4>Mail bültenine abone olun</h4>
    <p>Tüm blogları mail ile alın </p>
    <form method="post" id="newsletterform">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe" id="btn1">
    </form>
</div>
<script>
      $("#newsletterform").submit(function(){
          $.ajax({
            url:"/NewsLetter/SubscribeMail",
            data:$("#newsletterform").serialize(),
            method:"POST",
            }).done(function( data ) {
                console.log("Başarılı");
            });
      return false;
      })
</script>