<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form method="post" id="commentaddform">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız soyadınız" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">


            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>
<script>
      $("#commentaddform").submit(function(){
          $.ajax({
            url:"/Comment/PartialAddComment",
            data:$("#commentaddform").serialize(),
            method:"POST",
            }).done(function( data ) {
                console.log("Başarılı");
            });
      return false;
      })
</script>