@using CoreDemo.Models
@model RoleUpdateViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Role Düzenleme Sayfası</h1>
<form method="post">
    <div class="form-group">
        <label>Role Id</label>
        <input type="text" name="Id" class="form-control" value="@Model.Id" />
    </div>
        <div class="form-group">
        <label>Role Başlığı</label>
        <input type="text" name="Name" class="form-control" value="@Model.name"/>
    </div>
    <button class="btn btn-success">Rolü Güncelle</button>
</form>
